.custom-card{
    width: 350px;
    max-width: 100%;
    background-color: #eee;
}

.user-icon{
    font-size: 100px;
    color: rgba(33, 133, 83, 0.459);
}
.alert-danger{
    background-color: RGB(248, 215, 218);
}